
  body{
    margin: 0;
    background-image: url('largeC.jpg');
  }
  .top{
    background-color: black;
    border:3px solid black;
  }
  #header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-image: url('newbac.png');
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  
  }
  #menu-button {
  display: none;
  padding: 10px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
#tt1{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imgff{
  object-fit: contain;
}
#video{
  justify-content: center;
  display: flex;
}

  @media (max-width: 600px) {
    #menu-button{
      display: flex;
    background-color: black;
    }
    

    #nav{
    justify-content: center;
    top: 100%;
    display: none;
    flex-direction: column;
    padding: 0;

    } 
  #nav.open {
    justify-content: center;
    display: flex;
  }

  
  #nav > .np {
    justify-content: center;
    flex-direction: column;
  }


  }
  .intr{
    flex-wrap: nowrap;
  }
  .pic1{
    display: flex;
    justify-content: end;
  }

  .he{
    padding-top: 10px;
    font-size: 40px;
    align-self: flex-start;
    width: 500px;
    color: rgb(50, 50, 50);
    font-family:"impact", Times, serif
    
  }
  .lkh{
    color: rgb(50, 50, 50);
    text-decoration: none;
  }
  .he:hover{
    color: orange;
  }



  .lk1{
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
  }
  .lk1:hover {
    color: white;
    background-color:orange;
    /* border-radius: 5px; */
    }  


  .lk2{
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
  }
  .lk2:hover{
    background-color: orange;
    /* border-radius: 5px; */
  }




  .lk3{
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
  }
  .lk3:hover{
    background-color: orange;
    /* border-radius: 5px; */

  }
  



  #nav{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 3px;
    text-align: end;
    align-items: center;
    position: relative;
    right: 0;
    padding-top: 5px;
    
  }
  p{
    margin: 50px;

  }